@import '../../shared_scss/animation';
$margin_padding: (
  "s": 0.25rem,
  "m": 0.5rem,
  "l": 1rem,
  "xl": 2rem,
  "xxl": 4rem,
);
$year-color: rgb(45, 136, 205);
$bg-color:black;
$text-color:white;

@mixin flexbox($justify, $align, $wrap,$align_item) {
  display: flex;
  justify-content: $justify;
  align-content: $align;
  flex-wrap: $wrap;
  align-items: $align_item;
}

@function margin_pad($size) {
  @return map-get($margin_padding, $size);
}
.container {
  cursor: default;
  margin: margin_pad(xxl);
  .education {
    @include animation(slideRight,0.3s);
    &_body {
      @include flexbox(space-evenly, center, wrap,baseline);
      &_detail {
        text-align: center;
        .year {
          padding: margin_pad(xxl);
          border: 2px solid black;
          border-radius: 50rem;
          color: $year-color;
        }
      }
    }
  }
  .skills {
    @include animation(slideLeft,0.4s);
    &_body {
      @include flexbox(space-evenly, center, wrap,baseline);
      &_detail {
        max-width: 30rem;
        .skills_body_img {
          img {
            width: 4rem;
            aspect-ratio: 3/2;
            object-fit: contain;
          }
        }
      }
    }
  }
  .experience{
    @include animation(slideRight,0.5s);
  }

  .documents{
    @include animation(slideLeft,0.6s);
    &_header{
      mat-icon{
        padding: margin_pad(s);
        margin: margin_pad(l) 0 0 margin_pad(l);
        background-color: $bg-color;
        color: $text-color;
        border-radius: .75rem;
      }
    }
    &_body{
      @include flexbox(space-evenly,center ,wrap,center );
      .card{
        max-width: 10rem;
        background-color: $bg-color;
        a{
          color: $text-color;
          text-decoration: none;
        }
      }
    }
  }
}
