<section class="about">
  <div class="about_description">
    <div class="intro">
      <div class="intro_heading">
        <h3 class="Hello"><b>Hello,</b></h3>
        <h1 class="name">
          {{ name }}
          <h2>your</h2>
        </h1>
        <h2 class="work">
          <b>{{ designation }}</b>
        </h2>
      </div>
      <div class="intro_body">
        <p>
          A Full-stack AI student at UPES
          Dehradun. My passion lies in the dynamic world of frontend
          development, with a strong drive to master the backend as well. I'm
          committed to building a solid foundation in full-stack development to
          create impactful solutions. My goal is to become proficient in my
          field, gaining in-depth knowledge to contribute meaningfully to the
          world. With a working knowledge of Angular and a dedicated approach,
          I'm excited to explore the full potential of full-stack AI.
        </p>
      </div>
    </div>
    <hr />
    <div class="characteristics">
      <div class="characteristics_header">
        <h5><i>// MY CHARACTERISTICS</i></h5>
      </div>
      <div class="characteristics_card">
        <mat-card appearance="outlined" *ngFor="let item of characteristics">
          <mat-card-content>{{ item }}</mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  <div class="about_img">
    <img [src]="image" alt="My Image" />
  </div>
</section>
