<section class="about">
  <div class="about_description">
    <div class="intro">
      <div class="intro_heading">
        <h3 class="Hello"><b>Hello</b>,It Me</h3>
        <h1 class="name">
          {{ name }}
          <h2>your</h2>
        </h1>
        <h2 class="work">
          <b>{{ designation }}</b>
        </h2>
      </div>
      <div class="intro_body">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
          repudiandae saepe beatae veritatis et aperiam voluptates sunt dicta
          adipisci? Vero harum vel voluptate temporibus accusantium esse maiores
          perferendis quod sit!
        </p>
      </div>
    </div>
    <hr />
    <div class="characteristics">
      <div class="characteristics_header">
        <h5><i>// MY CHARACTERISTICS</i></h5>
      </div>
      <div class="characteristics_card">
        <mat-card appearance="outlined" *ngFor="let item of characteristics">
          <mat-card-content>{{ item }}</mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  <div class="about_img">
    <img [src]="image" alt="My Image" />
  </div>
</section>
