@import '../shared_scss/animation';
$bg-color: black;
$text-color: white;
$work-color: rgba(255, 0, 0, 0.397);

@mixin theme($theme: true) {
  @if $theme {
    background-color: $bg-color;
    color: $text-color;
  }
}
@mixin flex-box($wrap) {
  display: flex;
  justify-content: left;
  align-content: center;
  flex-wrap: $wrap;
}

.about {
  margin: 6rem;
  @include flex-box(nowrap);
  #{&}_description {
    padding: 0 margin_pad(xxl);
    .intro {
      &_heading {
        .Hello {
          opacity: 0;
          @include animation(slideBottom,0.5s);
        }
        .name {
          letter-spacing: -0.01rem;
          @include animation(slideRight,0.5s);
        }
        .work {
          color: $work-color;
          @include animation(slideTop,0.5s);
        }
      }
      &_body {
        @include animation(slideRight,0.5s);
      }
    }
    hr{
      opacity: 0;
      @include animation(slideLeft,0.5s);
    }
    .characteristics {
      @include animation(slideRight,0.5s);
      animation-delay: 0.5s;
      margin: margin_pad(l);
      &_header {
        h5 {
          color: gray;
        }
      }
      &_card {
        @include flex-box(wrap);
        mat-card {
          @include theme(true);
          margin: margin_pad(s);
          width: 10rem;
          &:hover {
            cursor: pointer;
            box-shadow: 2px 2px 2px grey;
          }
        }
      }
    }
  }

  #{&}_img {
    @include animation(slideLeft,0.5s);
    max-width: 20rem;
    margin: margin_pad(l);
    img {
      border-radius: 4px;
      max-width: 100%;
    }
  }
}
