@import '../../shared_scss/bg_color';
$padding_around:(
    "s": 0.25rem,
    "me": .5rem,
    "l": 1rem,
    "xl": 2rem
);
@function padding($size){
    @return map-get($padding_around,$size)
}
$border: 1px solid white;
@mixin flexbox($justify,$align,$wrap){
    display: flex;
    justify-content: $justify;
    align-content: $align;
    flex-wrap: $wrap;
    align-items:baseline
}
@mixin animation($animation_name){
    opacity:0;
    animation: $animation_name 1s ease forwards;
    animation-delay: .7s;
}

@mixin keyframe($name, $transform_name, $start, $end) {
    @keyframes #{$name} {
      0% {
        opacity: 1;
        transform: #{$transform_name}($start);
      }
      100% {
        opacity: 1;
        transform: #{$transform_name}($end);
      }
    }
  }
  
  // Usage
  @include keyframe(slideRight, translateX, -100px, 0px);
  @include keyframe(slideTop,translateY ,50px ,0px );
  
.navbar{
    @include flexbox(space-between,center,wrap );
    padding:padding(l) padding(xl);
    #{&}_left{
        h1{
            font-size: 1.5rem;
            @include animation(slideRight);
        }
    }

    #{&}_right{
        @include flexbox(center,center ,wrap);

        &_pages{
            padding: padding(l);
            a{
                text-decoration: none;
            }
            p{
                opacity: 0;
                @include animation(slideTop);
                padding: map-get($padding_around, s );
                border-radius: .25rem;
                &:hover{
                    border: $border;
                    cursor: pointer;
                }
            }
        }
    }
}