@import '../shared_scss/animation';

$bg-color:black;
$text-color:white;
@mixin flexbox($justify, $align, $wrap,$align_item) {
    display: flex;
    justify-content: $justify;
    align-content: $align;
    flex-wrap: $wrap;
    align-items: $align_item;
  }

$max-height: 25rem;
$margin:.5rem;

.visible{
    @include animation(slideLeft,0.3s);
}

.project{
    margin: margin_pad(xxl);
    opacity: 0;
    &_body{
        @include flexbox(space-evenly,center ,wrap , center);
            &_card {
                opacity: 0;
                a{
                    color: $bg-color;
                    text-decoration: none;
                }
                .mat{
                    min-width: 30rem;
                    max-width: 40rem;
                    max-height: $max-height+5rem;
                    border-radius: 4px;
                    margin: $margin;
                    overflow: hidden;
                    img{
                        border-radius: inherit;
                        filter: blur(4px);
                        transform: rotate(-2deg);
                        transition: transform .2s ease;
                    }
                    img:hover{
                        filter: blur(0px);
                        transform: rotate(0deg);
                    }
                    .card_details{
                        @include flexbox(space-between,center ,wrap , center);
                        padding: 1rem;
                        h6{
                            margin: $margin;
                        }
                        .about{
                            background-color: $bg-color;
                            color: $text-color;
                            display: grid;
                            justify-content: space-between;
                            align-items: center;
                            grid-auto-flow: column;
                            p{
                                margin: $margin;
                            }
                            .features{
                                margin: 2px;
                            }
    
                        }
                    }
                }
              }            
    }
}