<section class="project" id="Projects" appLazyLoadImage>
    <header class="project_header">
        <h1>Past Projects</h1>
    </header>
    <hr>
    <body class="project_body" >
        <div class="project_body_card" *ngFor="let item of projects" appLazyLoadImage>
            <a [href]="item.link">
            <mat-card class="mat"  appearance="outlined" >
                <img mat-card-image [alt]="item.project_name" [lazyLoad]="item.img" [defaultImage]="not_found">
                <mat-card-content class="card_details">
                    <h6>{{item.project_name}}</h6>
                    <div class="about">
                        <div class="features" *ngFor="let feature of item.features">
                            <p>{{feature}}</p>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </a>
        </div>
    </body>
</section>
