a{
  text-decoration: none;
  color: white;
  .up{
    padding: 1rem;
    border-radius: 5rem;
    background-color: grey;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 2px;
  }
}

